button {
    background: rgb(155, 164, 180);
    color: #f1f6f9;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
button:hover {
    background: rgba(155, 164, 180, 0.5);
}
